<!doctype>
<html>
	<header>
		<meta charset="utf-8">
		<title>Склад</title>
		<!-- Latest compiled and minified JavaScript -->
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/styles.css">
	</header>
	<body>
		{{{body}}}
	</body>
</html>